html {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eeeff1;
  font-family: 'open_sansregular', 'Microsoft YaHei', 'SimSun';
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
em {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}
.mb10 {
  margin-bottom: 10px;
}
.active {
  display: block !important;
}
.hideSelf {
  display: none;
}
.nav {
  position: fixed;
  height: 67px;
  width: 100%;
  background-color: #2d3349;
  overflow: hidden;
  z-index: 10;
}
.nav .logo {
  display: block;
  float: left;
  width: 156px;
  height: 67px;
  padding-left: 20px;
  line-height: 67px;
  background-image: url('../img/logo.jpg');
}
.nav .top-nav {
  float: left;
  margin-left: 6px;
}
.nav .top-nav li {
  float: left;
}
.nav .top-nav li a {
  position: relative;
  display: inline-block;
  height: 67px;
  line-height: 67px;
  padding: 0 8px 0 36px;
  margin: 0 10px;
  color: #bfc8cf;
}
.nav .top-nav li a .icon {
  position: absolute;
  display: inline-block;
  width: 26px;
  height: 32px;
  top: 18px;
  left: 2px;
  background: url('../img/sprite1.png') no-repeat 0 0;
}
.nav .top-nav li a .icon em {
  position: absolute;
  width: 26px;
  height: 32px;
  top: -18px;
  left: 6px;
  color: #546b91;
  text-decoration: none;
  text-shadow: 1px 2px 2px #5c606a;
}
.nav .top-nav li a .xs {
  background-position: 0 -41px;
}
.nav .top-nav li a:hover {
  color: #fff;
}
.nav .top-nav li a:hover em {
  color: #e69c1f;
}
.nav .top-nav li.active .icon em {
  color: #e69c1f;
}
.nav .user-info {
  float: right;
  height: 67px;
  font-size: 12px;
}
.nav .user-info div {
  float: left;
}
.nav .user-info div a {
  position: relative;
  height: 67px;
  line-height: 67px;
  padding-left: 30px;
  margin-right: 15px;
  color: #f5f5f5;
  font-size: 12px;
}
.nav .user-info div a span {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 22px;
  top: 1px;
  left: 0;
}
.nav .user-info div .collection-icon {
  background: url('../img/sprite.png') no-repeat -37px -175px;
}
.nav .user-info div .history-icon {
  background: url('../img/sprite.png') no-repeat -36px -224px;
}
.nav .user-info div .logout-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-top: 16px;
  background: url('../img/logout.png') no-repeat;
}
.nav .user-info .user-mes a {
  padding-left: 4px;
}
.nav .user-info .logout a {
  padding-left: 10px;
  margin-right: 16px;
}
.right-filter {
  position: fixed;
  top: 67px;
  right: 0;
  width: 304px;
  height: 100%;
  border: 1px solid #dbe0e4;
  background-color: #fff;
  overflow-y: auto;
}
.right-filter .filter-wrap {
  margin: 10px;
  min-height: 500px;
  color: black;
}
.right-filter .filter-wrap ul li {
  margin-bottom: 10px;
}
.right-filter .filter-wrap ul li .filter-title {
  display: block;
  height: 38px;
  margin-bottom: 5px;
  line-height: 38px;
  padding-left: 54px;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
}
.right-filter .filter-wrap ul li .filter-list {
  display: none;
  padding: 12px 10px;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.right-filter .filter-wrap ul li .filter-list .filter {
  display: block;
  height: 32px;
  line-height: 32px;
}
.filter-title {
  position: relative;
}
.filter-title span {
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 20px;
  top: 8px;
  left: 20px;
  background: url('../img/sprite.png') no-repeat -36px -52px;
}
.filter-title .notice-icon {
  background-position: -36px -75px;
}
.filter-title .industry-icon {
  background-position: -36px -97px;
}
.filter-title .local-icon {
  background-position: -36px -123px;
}
.filter-title .company-icon {
  background-position: -36px -148px;
}
.date-select {
  position: relative;
  margin-left: 10px;
}
.date-select .lst_periods {
  display: none;
  position: absolute;
  width: 238px;
  margin-top: 10px;
  padding: 10px 0 20px 0;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  background: #fff;
  z-index: 999;
}
.date-select .lst_periods .date {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.date-select .lst_periods li {
  padding: 0 10px;
}
.date-select .lst_periods li:hover {
  background-color: #eee;
}
.date-select .lst_periods .btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #dbe0e4;
  vertical-align: top;
  cursor: pointer;
}
.date-select .date-text {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 20px;
  padding-right: 8px;
  margin-right: 7px;
  text-align: center;
  border: 1px solid #dbe0e4;
  border-radius: 5px;
  background: #fff;
}
.date-select .date-text .date-icon {
  position: absolute;
  width: 20px;
  height: 8px;
  right: 0;
  top: 18px;
  background: url('../img/sprite.png') no-repeat -36px 0;
}
.date-select .date-input {
  display: inline-block;
  width: 92px;
  height: 40px;
  padding: 4px 8px 4px 12px;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: top;
}
.main-top {
  margin: 0 auto 10px;
  background-color: #fff;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  z-index: 1;
  padding: 18px 0 10px;
}
.main-top .search-wrap {
  position: relative;
  width: 954px;
  margin: auto;
}
.main-top .search-wrap .left-search {
  display: inline-block;
  width: 260px;
  vertical-align: top;
}
.main-top .search-wrap .left-search .code-search {
  display: none;
  margin: 0 0 10px 10px;
}
.main-top .search-wrap .left-search .code-search .code {
  width: 242px;
  height: 40px;
  padding: 10px 0 10px 10px;
  border-radius: 3px;
  border: 1px solid #dbe0e4;
}
.main-top .search-wrap .middle-search {
  display: inline-block;
  width: 500px;
}
.main-top .search-wrap .middle-search .input-search {
  height: 40px;
}
.main-top .search-wrap .middle-search .input-search .text-btn {
  width: 410px;
  height: 40px;
  padding: 4px 10px;
  border: 1px solid #dbe0e4;
  border-right: none;
  vertical-align: top;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.main-top .search-wrap .middle-search .input-search .search-btn {
  position: relative;
  width: 84px;
  height: 40px;
  border: 1px solid #dbe0e4;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f5f5f5;
}
.main-top .search-wrap .middle-search .input-search .search-btn .search-bnt-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 28px;
  background: url('../img/sprite.png') no-repeat -36px -200px;
}
.main-top .search-wrap .middle-search .input-search.hideSelf {
  display: none !important;
}
.main-top .search-wrap .middle-search .div-multi-item {
  display: none;
  overflow: hidden;
}
.main-top .search-wrap .middle-search .div-multi-item div {
  float: left;
  margin-right: 2px;
}
.main-top .search-wrap .middle-search .div-multi-item div span {
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #dbe0e4;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.main-top .search-wrap .middle-search .div-multi-item div .keyword {
  float: left;
  width: 150px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #dbe0e4;
  outline: none;
}
.main-top .search-wrap .middle-search .div-multi-item .item1 .keyword {
  border-left: none;
}
.main-top .search-wrap .middle-search .div-multi-item:last-child {
  overflow: hidden;
  margin-top: 10px;
}
.main-top .search-wrap .right-search {
  display: inline-block;
  width: 180px;
  vertical-align: top;
}
.main-top .search-wrap .right-search .senior-search {
  display: inline-block;
}
.main-top .search-wrap .right-search .senior-search a {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 40px;
  padding-left: 30px;
  line-height: 40px;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
}
.main-top .search-wrap .right-search .senior-search a .search-icon {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  width: 20px;
  height: 11px;
  left: 14px;
  top: 14px;
  background: url('../img/sprite1.png') no-repeat -43px -21px;
}
.main-top .search-wrap .right-search .senior-search a .search-icon.toggle-icon {
  background-position: -42px -6px;
}
.main-top .search-wrap .right-search .reset {
  display: inline-block;
  margin-left: 6px;
}
.main-top .search-wrap .right-search .reset a {
  display: inline-block;
  width: 76px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e4e8eb;
  border-radius: 3px;
}
.main-top .search-wrap .right-search .senior-btn-wrap {
  display: none;
  margin-top: 10px;
}
.main-top .search-wrap .right-search .senior-btn-wrap .senior-btn {
  position: relative;
  width: 162px;
  height: 40px;
  border: 1px solid #e4e8eb;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.main-top .search-wrap .right-search .senior-btn-wrap .senior-btn .search-btn-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  right: 68px;
  background: url('../img/sprite.png') no-repeat -36px -200px;
}
.mainWrap {
  height: 100%;
  padding-top: 67px;
}
.mainWrap .left-main {
  margin-right: 306px;
  padding: 10px;
}
.mainWrap .left-main .label-wrap {
  display: none;
  position: relative;
  min-height: 70px;
  max-height: 150px;
  margin: 0 10px;
  padding: 15px;
  border: 1px dashed #dbe0e4;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.mainWrap .left-main .label-wrap .filter-label {
  position: relative;
  padding: 3px 50px 5px 22px;
  color: #fff;
  border-radius: 3px;
}
.mainWrap .left-main .label-wrap .filter-label .filter-close {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 28px;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 28px;
}
.mainWrap .left-main .label-wrap .market {
  background-color: #293043;
  border: 1px solid #232939;
}
.mainWrap .left-main .label-wrap .market .filter-close {
  background-color: #232939;
}
.mainWrap .left-main .label-wrap .notice {
  background-color: #4fb5dd;
  border: 1px solid #43b0db;
}
.mainWrap .left-main .label-wrap .notice .filter-close {
  background-color: #43b0db;
}
.mainWrap .left-main .label-wrap .industry {
  background-color: #77ab3d;
  border: 1px solid #6fa037;
}
.mainWrap .left-main .label-wrap .industry .filter-close {
  background-color: #6fa037;
}
.mainWrap .left-main .label-wrap .local {
  background-color: #e89600;
  border: 1px solid #e79501;
}
.mainWrap .left-main .label-wrap .local .filter-close {
  background-color: #e79501;
}
.mainWrap .left-main .label-wrap .company {
  background-color: #f14e51;
  border: 1px solid #f04042;
}
.mainWrap .left-main .label-wrap .company .filter-close {
  background-color: #f04042;
}
.mainWrap .left-main .btn {
  display: none;
  width: 126px;
  height: 32px;
  margin: 10px auto 0;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.result .expand-all {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin: 0 10px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #dbe0e4;
}
.result .result-top {
  background-color: #fff;
  height: 52px;
  border: 1px solid #dbe0e4;
  border-radius: 5px;
}
.result .result-top .result-info {
  display: inline-block;
  position: relative;
  padding-left: 56px;
  height: 52px;
  line-height: 52px;
}
.result .result-top .result-info .result-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 22px;
  background: url('../img/sprite.png') no-repeat -38px -286px;
  left: 0px;
  top: 14px;
  position: absolute;
}
.result .result-top .result-info .result-num {
  margin: 0 4px;
  color: red;
}
.result .result-top .result-filter {
  display: inline-block;
  float: right;
  margin-top: 5px;
}
.result .result-top .result-filter .recently {
  float: left;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #dbe0e4;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background: #f5f5f5;
}
.result .result-top .result-filter .relative {
  float: left;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #dbe0e4;
  border-left: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.result .result-show {
  padding: 20px;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  background-color: #fff;
}
.result .result-show .result-area {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  cursor: pointer;
}
.result .result-show .result-area .result-item {
  position: relative;
  height: 50px;
  line-height: 30px;
  padding: 9px 10px;
}
.result .result-show .result-area .result-item h2 {
  display: inline-block;
}
.result .result-show .result-area .result-item .stock {
  display: inline-block;
  width: 66px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  background-color: #edefef;
}
.result .result-show .result-area .result-item .title {
  padding-left: 6px;
}
.result .result-show .result-area .result-item .title:hover {
  text-decoration: underline;
}
.result .result-show .result-area .result-item span {
  color: #999;
  float: right;
  margin-right: 40px;
}
.result .result-show .result-area .result-item .source {
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 28px;
  top: 12px;
  right: 10px;
  background: url('../img/sprite1.png') no-repeat 0 -113px;
}
.result .result-show .result-area .paras-wrap {
  padding: 0 20px 8px;
  background: #f5f5f5;
  line-height: 20px;
  font-size: 12px;
  border-top: 1px solid #dbe0e4;
}
.result .result-show .result-area .paras-wrap .para {
  padding: 7px 0;
  text-align: justify;
  border-bottom: 1px solid #dbe0e4;
}
.result .result-show .result-area:hover,
.result .result-show .result-area.bg {
  background-color: #edefef;
}
.result .result-show .result-area:hover .stock,
.result .result-show .result-area.bg .stock {
  background: #fff;
}
.stock-result {
  display: none;
  position: absolute;
  width: 240px;
  padding: 5px 0;
  left: 12px;
  top: 42px;
  background: #fff;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  z-index: 10;
}
.stock-result li {
  padding-left: 12px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.stock-result li:first-child {
  background-color: #eee;
}
.stock-result li:hover {
  background-color: #eee;
}
