.detail-title {
  position: fixed;
  width: 100%;
  min-height: 62px;
  margin: 10px 0;
  padding: 0 20px;
  border-top: 1px solid #dbe0e4;
  border-bottom: 1px solid #dbe0e4;
  background-color: #fff;
  z-index: 3;
}
.detail-title .stock {
  position: absolute;
  display: inline-block;
  width: 78px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin-top: 12px;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.detail-title .div-wrap {
  display: inline-block;
  position: relative;
  width: 1000px;
}
.detail-title .div-wrap .span-title {
  height: 40px;
  line-height: 30px;
  font-size: 16px;
  display: inline-block;
  width: 1000px;
  padding-top: 14px;
  padding-left: 88px;
  overflow: hidden;
}
.detail-title .div-wrap .source {
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 28px;
  top: 16px;
  right: -42px;
  background: url('../img/sprite1.png') no-repeat 0 -113px;
}
.detail-title .date {
  display: inline-block;
  padding: 21px 5px 0 0;
  color: #a9a9a9;
}
.detail-title .btn-fav {
  position: relative;
  display: inline-block;
  width: 82px;
  height: 40px;
  line-height: 40px;
  padding-left: 38px;
  border-radius: 3px;
  border: 1px solid #dbe0e4;
}
.detail-title .btn-fav .fav-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 14px;
  top: 12px;
  background: url('../img/sprite1.png') no-repeat 0 -157px;
}
.content-wrap {
  position: relative;
  padding-top: 82px;
}
.content-wrap .left-main {
  margin-right: 306px;
  padding: 0 10px 0 10px;
}
.content-wrap .left-main .main-top {
  margin-bottom: 5px;
  padding: 4px 10px;
  overflow: hidden;
}
.content-wrap .left-main .main-top .top-left {
  float: left;
  width: 448px;
  height: 40px;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
}
.content-wrap .left-main .main-top .top-left .btn-search {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 38px;
  border: none;
  border-right: 1px solid #dbe0e4;
  background: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}
.content-wrap .left-main .main-top .top-left .btn-search:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 10px;
  background: url('../img/sprite1.png') no-repeat 0 -179px;
}
.content-wrap .left-main .main-top .top-left .input-search {
  width: 278px;
  height: 38px;
  padding-left: 10px;
  line-height: 40px;
  vertical-align: top;
  border: none;
  outline: none;
}
.content-wrap .left-main .main-top .top-left .match-num {
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  color: #a0a0a0;
  line-height: 40px;
  vertical-align: top;
}
.content-wrap .left-main .main-top .top-left .match {
  display: inline-block;
  float: right;
  width: 32px;
  height: 32px;
  margin-top: 3px;
  vertical-align: top;
  border: 1px solid #dbe0e4;
  background-color: #edefef;
}
.content-wrap .left-main .main-top .top-left .match-bottom {
  border-right: 0;
}
.content-wrap .left-main .main-top .top-left .match-top {
  margin-right: 4px;
}
.content-wrap .left-main .main-top .top-right {
  float: right;
}
.content-wrap .left-main .main-top .top-right button {
  display: inline-block;
  float: left;
  width: 60px;
  height: 40px;
  border: 1px solid #dbe0e4;
  cursor: pointer;
}
.content-wrap .left-main .main-top .top-right .btn-small {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #f5f5f5;
}
.content-wrap .left-main .main-top .top-right .btn-large {
  border-left: none;
  margin-right: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
}
.content-wrap .left-main .main-top .top-right .btn-ya {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #f5f5f5;
}
.content-wrap .left-main .main-top .top-right .btn-song {
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
}
.content-wrap .left-main .content {
  height: 630px;
  margin-top: 8px;
  background-color: #fff;
  border: 1px solid #dbe0e4;
  border-radius: 3px;
  overflow-y: auto;
}
.content-wrap .left-main .content p {
  font-family: inherit;
  padding-left: 30px;
  line-height: 40px;
}
.content-wrap .aside-right {
  position: fixed;
  height: 100%;
  width: 308px;
  right: 0;
  top: 150px;
  border-left: 1px solid #dbe0e4;
  background-color: #fff;
  overflow-y: auto;
}
.content-wrap .aside-right ul {
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 10px 9px 10px 10px;
}
.content-wrap .aside-right ul li {
  float: left;
  text-align: center;
}
.content-wrap .aside-right ul li .navlist {
  display: inline-block;
  width: 96px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border: 1px solid #dbe0e4;
}
.content-wrap .aside-right ul li .navlist.bgChange {
  color: #fff;
  background-color: #272b3f;
}
.content-wrap .aside-right ul li .a-nav {
  color: #fff;
  background-color: #272b3f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.content-wrap .aside-right ul li .info {
  border-left: none;
  border-right: none;
}
.content-wrap .aside-right ul li .adjacent {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.content-wrap .aside-right ul li .tablist {
  position: absolute;
  display: none;
  width: 308px;
  min-height: 300px;
  padding: 10px;
  top: 60px;
  left: -1px;
  text-align: left;
  background-color: #fff;
  border-left: 1px solid #dbe0e4;
}
.content-wrap .aside-right ul li .tablist .item .one-leavel {
  position: relative;
}
.content-wrap .aside-right ul li .tablist .item .one-leavel a {
  height: 34px;
  padding-left: 30px;
  line-height: 34px;
  font-size: 14px;
}
.content-wrap .aside-right ul li .tablist .item .one-leavel .span-drop-down {
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  top: 6px;
  left: 0;
  background: url('../img/sprite1.png') no-repeat 0 -257px;
  cursor: pointer;
}
.content-wrap .aside-right ul li .tablist .item .one-leavel .span-take-back {
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  top: 6px;
  left: 0;
  background: url('../img/sprite1.png') no-repeat 0 -514px;
  cursor: pointer;
}
.content-wrap .aside-right ul li .tablist .item .two-leavel {
  display: none;
  padding-left: 30px;
}
.content-wrap .aside-right ul li .tablist .item .two-leavel a {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  display: block;
}
