.content {
  min-height: 500px;
  background-color: #fff;
  border: 1px solid #dbe0e4;
  border-radius: 5px;
}
.content .content-show {
  padding: 12px 22px;
}
.content .content-show a {
  display: block;
  height: 30px;
  font-size: 12px;
}
.content .content-show a span {
  float: right;
}
.content .content-show a:hover {
  text-decoration: underline;
}
.content .content-show .getMore {
  position: relative;
  display: block;
  width: 148px;
  height: 38px;
  left: 50%;
  margin-left: -74px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #dbe0e4;
}
.content .content-show .getMore:hover {
  text-decoration: none;
}
