.factminr产品新界面输出-搜索结果{ background:url("factminr产品新界面输出-搜索结果.png") top left no-repeat; }
.沪深_r2_c26{ width:36px; height:37px; background-position:-10px -10px; }
.沪深_r4_c22{ width:18px; height:31px; background-position:-10px -57px; }
.沪深_r4_c18{ width:20px; height:31px; background-position:-10px -98px; }
.沪深_r4_c16{ width:26px; height:31px; background-position:-10px -139px; }
.沪深_r4_c14{ width:26px; height:31px; background-position:-10px -180px; }
.沪深_r4_c12{ width:26px; height:31px; background-position:-10px -221px; }
.沪深_r4_c10{ width:26px; height:31px; background-position:-10px -262px; }
.沪深_r4_c8{ width:26px; height:31px; background-position:-10px -303px; }
.沪深_r4_c4{ width:26px; height:31px; background-position:-10px -344px; }
.沪深_r13_c20{ width:21px; height:28px; background-position:-10px -385px; }
.沪深_r11_c2{ width:24px; height:24px; background-position:-10px -423px; }
.沪深_r21_c23{ width:25px; height:21px; background-position:-10px -457px; }
.沪深_r19_c23{ width:25px; height:21px; background-position:-10px -488px; }
.沪深_r7_c23{ width:22px; height:21px; background-position:-10px -519px; }
.沪深_r17_c23{ width:25px; height:19px; background-position:-10px -550px; }
.沪深_r15_c23{ width:25px; height:17px; background-position:-10px -579px; }
.沪深_r8_c27{ width:11px; height:4px; background-position:-10px -606px; }

